@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0, 0, 0;
    --background: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: 255, 255, 255;
      --background: 17, 24, 39;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }

  h1 {
    @apply text-4xl md:text-6xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h3 {
    @apply text-2xl md:text-3xl font-bold;
  }

  h4 {
    @apply text-xl md:text-2xl font-bold;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl sm:px-6 lg:px-8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
